.vscode
/TestApp/nbproject/private/
/TestApp/build/
nbproject
build.xml
manifest.mf
__pycache__
bin
.project
.DS_Store
/die-roll/build/
/die-roll/dist/
/faction-generator/build/
/Hello World/build/
/Printe/build/
/Riley/build/
/Name/build/
/Name2/build/
/Hello.World/build/
/MyFirstProgram/build/
/Profile/build/
/Milk/build/
/Milk2/build/
/FixErrorsAndFormat/build/
/Exercise/build/
/Time/build/
/Stocks/build/
/Dollar/build/
/StoreProfit/build/
/SummerJob/build/
/Permutations/build/
/Flooring/build/
/InputProblem/build/
/TestThisOut/build/
/HousingComplex/build/
/Park/build/
/bmi/build/
/MonthlyPaycheck/build/
/Commission/build/
/Commission/dist/
/IncomeTax/build/
/Calculator/build/
/MontereyBeach/build/
/ExpressimoDelivery/build/
/BreakStatementsInSwitch/build/
/RegularPyramid/build/
/ForceOfGravity/build/